@page "/QueryFilterData"


<h3>QueryFilterData</h3>

<label>
    Select one or more cars:
@*     <select @onchange="SelectedCarsChanged">
        <option value="audi">Audi</option>
        <option value="jeep">Jeep</option>
        <option value="opel">Opel</option>
        <option value="saab">Saab</option>
        <option value="volvo">Volvo</option>
    </select> *@
    @* https://stackoverflow.com/questions/67845122/how-to-get-value-from-select-option-and-at-the-same-time-use-onchange-to-do-a-f *@
    <select @onchange="HandleOnChangeUnbound">
        @if (model?.Countries != null)
        {
            @foreach (var cnt in model.Countries)
            {
                //@onclick="()=>OpenDemoiFrame(j)"
                <option value="@cnt.Id">@cnt.Name</option>
            }
        }
    </select>
</label>

<button @onclick="Filter">Filter</button>

@if (m_strSelected != null)
{
    @m_strSelected
}

@code 
{
    //https://stackoverflow.com/questions/58485439/select-box-binding-in-blazor
    class Country
    {
        public int Id;
        public string Name;
    }
    class BrandModel
    {
        public int Id;
        public int ByCountryId;
        public List<Country> Countries;
        public bool IsActive;
        public string Name;
    }
    public bool m_bIsLoading;
    public string m_strSelected;
    BrandModel model = new BrandModel();

    async Task Filter()
    {
        m_bIsLoading = true;
        await Task.Delay(1000);
        //await FetchFromDb();
        m_bIsLoading = false;
    }

    async Task onSelectClick(string e_strValue)
    {
        m_bIsLoading = true;
        await Task.Delay(1000);
        //await FetchFromDb();
        m_bIsLoading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        model = new BrandModel
        {
            Id = 19,
            ByCountryId = 5,
            Countries = new List<Country>
            {
                new Country { Id = 1, Name = "Azerbaijan" },
                new Country { Id = 2, Name = "Turkey" },
                new Country { Id = 3, Name = "333" },
                new Country { Id = 4, Name = "44" },
                new Country { Id = 5, Name = "55" },
                new Country { Id = 6, Name = "66" },
                new Country { Id = 7, Name = "77" },
            },
            IsActive = true,
            Name = "Brand"
        };
    }
    private void SelectedCarsChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            //SelectedCars = (string[])e.Value;
        }
    }
    void HandleOnChangeUnbound(ChangeEventArgs args)
    {
        Console.WriteLine("before " + m_strSelected);
        m_strSelected = args.Value.ToString();
        Console.WriteLine("after "+m_strSelected);
        Console.WriteLine(model.Countries[Int32.Parse(m_strSelected) - 1].Name);
        // Do DB stuff.
    }
}
