@page "/GeneratePDFButton"

@using BlazorAppWASMStandAlone.ToPdf


<h1>PDF Generator</h1>

<p>Click the button below to generate a PDF document.</p>

<button class="btn btn-primary" @onclick="GeneratePdf">Generate PDF</button>

@if (!string.IsNullOrEmpty(pdfPath))
{
    <p>Click the link below to download the PDF document.</p>
    <a href="@pdfPath" download>Download PDF</a>
}

@code {
    private string pdfPath;

    private void GeneratePdf()
    {
        string fileName = "example.pdf";
        string title = "Example PDF Document";
        string body = "This is an example PDF document generated using iTextSharp.";

        PdfGenerator.GeneratePdf(fileName, title, body);
        string l_strCurrentDirectory = Directory.GetCurrentDirectory();
        Console.WriteLine(l_strCurrentDirectory);
        pdfPath = Path.Combine(l_strCurrentDirectory, fileName);
        Console.WriteLine(pdfPath);
    }
}