@* https://www.syncfusion.com/faq/blazor/general/how-do-i-generate-and-save-a-file-client-side-using-blazor *@

@page "/GeneratePDFButton"


@inject IJSRuntime JS
@using BlazorAppWASMStandAlone.ToPdf


<h1>PDF Generator</h1>

<p>Click the button below to generate a PDF document.</p>

<button class="btn btn-primary" @onclick="GeneratePdf">Generate PDF</button>
<button @onclick="DownloadFileFromStream">
    Download File From Stream
</button>
@if (!string.IsNullOrEmpty(g_strPDFPath))
{
    <p>Click the link below to download the PDF document.</p>
    <a href="@g_strPDFPath" download>Download PDF</a>

    <p>qoo</p>
    <a href="path_to_file" download>Save1</a>
    <a href="link_path_to_file" download="suggested_name">Save2</a>
}




@code {
    private string g_strPDFPath;

    private void GeneratePdf()
    {
        string fileName = "example.pdf";
        string title = "Example PDF Document";
        string body = "This is an example PDF document generated using iTextSharp.";

        PdfGenerator.GeneratePdf(fileName, title, body);


        string l_strCurrentDirectory = Directory.GetCurrentDirectory();
        Console.WriteLine(l_strCurrentDirectory);
        g_strPDFPath = Path.Combine(l_strCurrentDirectory, fileName);
        Console.WriteLine(g_strPDFPath);
    }

    private async Task DownloadFileFromStream()
    {
        string fileName = "example.pdf";
        string title = "Example PDF Document";
        string body = "This is an example PDF document generated using iTextSharp.";
        Stream l_Stream = PdfGenerator.GetPDFStream(title, body);
        using var streamRef = new DotNetStreamReference(l_Stream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }
}